* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.897);
    
}

span{
    color: rgba(255, 0, 0, 0.801);
    text-shadow: 0 0 0.15em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
    font-size: 1.8em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quintessential', cursive;

}
.imteamy {
    position: absolute;
    top: 0px;
   left: 10px;
    font-size: 2em;
    color: #399128;
    text-shadow: 0 0 0.15em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quintessential', cursive;

}



.book {
    position: relative;
    width: 250px;
    height: 350px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color:black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 5px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: rgba(255, 0, 0, 0.582);
}

i {
    font-size: 30px;
    color: green;
}

#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}






#f1 {
    background-image: url(./Images/imteamy.jpeg);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:20% 40%;
}

#b1 {
    background-image: url(./Images/Ghosty-viral.png);
    background-position: center ;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:20% 40%;
    background-color: rgba(255, 0, 0, 0.377);
    
}

#f2 {
    background-image: url(./Images/Wirussi-viral.png);
    background-position: center ;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:20% 40%;
    background-color: #3a9128b0;

}

#wirussi-video {
    position: absolute;
    top: 20px;
    font-size: 20px;
    color: #399128;
    text-shadow: 0 0 0.15em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quintessential', cursive;
}
#ghosty-video {
    position: absolute;
    top: 20px;
    font-size: 20px;
    color: rgba(255, 0, 0, 0.801);
    text-shadow: 0 0 0.15em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Quintessential', cursive;
}

#b3 {
    background-image: url(./Images/imteamy.jpeg);
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:20% 40%;
}































